.LayoutRoot {
  height: 100vh;
}

.HeaderWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  max-width: 1120px;
  margin: 0 auto;

  h1 {
    margin-bottom: 0;
  }
}
