@import "./sass/variables";
@import "./sass/generic/generic.reset";
@import "./sass/generic/generic.fonts";

html {
  box-sizing: border-box;
  font-size: $base-font-size;
}

body {
  font-family: $base-font;
}

.light {
  background-color: #fff !important;
}

.dark {
  background-color: #000 !important;
}
